#my-awesome-extension-title{
  position: relative !important;
  overflow: visible;
  float: left;
}

#my-awesome-extension-title-label{
  white-space: nowrap;
  font-weight: normal;
  user-select: none;
  margin-left: 27px;
  select: none;
  width: 85px;
}

#my-awesome-extension-dropdown {
  position: relative;
  top: -1px;
}

#my-awesome-extension-title-button {
  margin-left: 4px;
  height: 26px;
}

.my-awesome-extension .title > .dropdown > button {
  padding: 2px 12px;
  height: 26px;
}

.my-awesome-extension .title .dropdown-menu {
  overflow: scroll;
}

.my-awesome-extension .loader-background {
  background: #fdfdfd;
}

.my-awesome-extension .loader,
.my-awesome-extension .loader:before,
.my-awesome-extension .loader:after {
  top: 35%;
}

.my-awesome-extension .loader:before,
.my-awesome-extension .loader:after {
  margin: -9px auto;
}
